@font-face {
  font-family: "Runico";
  src: url("./Runico-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: arpona, serif;
  color: #e7e3db;
  background-color: #0f0f0c;
  margin: 0;
  background-image: url("./assets/images/background-texture.png");
}

html {
  scroll-behavior: smooth;
}

.video-background {
  width: 100%;
  object-fit: cover;
  z-index: 1;
}

header {
  position: relative;
}

.button {
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
  text-decoration: none;
  color: black;
  box-shadow: inset 0px 0px 5px #baa884;
  padding: 12px;
  background-color: #ece2cf;
  border: 3px solid #baa884;
  outline: 2px solid #000000; /* Bordure intérieure */
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #d4c9b2;
}

a {
  text-decoration: none;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  position: absolute;
  z-index: 1;
  bottom: 4%;
}

.header-content__logo {
  position: relative;
}

.header-content__logo__circle {
  position: absolute;
  top: -48%;
  right: -4%;
  z-index: -1;
}

.header-content__app-logos {
  display: flex;
  gap: 10px;
}

.section-titles {
  transform: translateY(-39px);
  width: 100%;
  text-align: center;
  font-size: 2.3em;
}

.social-media-logo {
  list-style: none;
  position: absolute;
  display: flex;
  gap: 20px;
  right: 4%;
  bottom: 2%;
}

.social-media-logo svg {
  height: 30px;
}

.header-content h1 {
  font-family: ferryman, sans-serif;
  font-size: 3em;
  color: white;
  text-shadow: #00fcff 1px 0 10px;
}

.banner-section {
  background-color: #21201a;
  height: 110px;
  position: relative;
  transform: translateY(-5px);
  border: 1px solid #292929;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.banner-section__alphabet-background {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Runico";
  color: #2a2820;
  font-size: 6em;
  position: absolute;
  height: 100%;
  width: 104%;
}

.banner-section__wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
}

.banner-section p {
  font-size: 1.4em;
  font-weight: bold;
  color: #c1b69b;
}

.text-color--blue {
  color: #00fcff;
}

.text-color--orange {
  color: #ffa700;
}

.economy-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.economy-section__background-img {
  position: absolute;
  z-index: -1;
}

.economy-section__center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 85%;
  gap: 8%;
}

.economy-section__text {
  gap: 30px;
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.economy-section .button {
  width: 50%;
}

.economy-section__text h2 {
  font-size: 2.5em;
}

.economy-section__box {
  width: 41%;
  height: 60%;
  z-index: 1;
  position: relative;
  background-color: #ece2cf;
  border: 6px solid #baa884;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.economy-section__box__ready {
  font-size: 1.1em;
  position: absolute;
  top: -19px;
  background-color: #21201a;
  color: #c1b69b;
  font-weight: bold;
  border: 3px solid #c1b69b;
  padding: 4px;
  width: 26%;
  text-align: center;
  border-radius: 50px;
}

.economy-section__box__token-group {
  position: absolute;
  height: 120px;
  top: -17%;
  right: 7%;
}

.corner-imgs img {
  position: absolute;
}

.corner-img--bottom-right {
  bottom: 10px;
  right: 10px;
}

.corner-img--bottom-left {
  bottom: 10px;
  left: 10px;
}

.corner-img--top-right {
  top: 10px;
  right: 10px;
}

.economy-section .corner-img--top-right {
  z-index: -1;
}

.corner-img--top-left {
  top: 10px;
  left: 10px;
}

.economy-section__box__infos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.economy-section__box__token {
  font-weight: bold;
  font-size: 2.5em;
  background-color: #21201a;
  padding: 7px 15px;
}

.economy-section__box__p-infos,
.economy-section__box__p-price {
  color: #21201a;
  text-align: center;
}

.economy-section__box__p-infos {
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 0.9em;
}

.economy-section__box__p-price {
  font-family: ferryman, sans-serif;
  font-size: 3em;
  font-weight: bold;
}

.economy-section__box__lauchpads {
  margin-top: 15px;
  text-align: center;
  width: 100%;
}

.economy-section__box__lauchpads__icons {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.economy-section__box__lauchpads-line {
  width: 90%;
}

.economy-section__box__lauchpads__icons img {
  gap: 15px;
  height: 65px;
}

.game-infos-section {
  margin-top: 30px;
  position: relative;
  overflow: hidden;
}

.game-infos-section__upper {
  height: 90vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.game-infos-section__golem-img {
  position: absolute;
  right: 11%;
  bottom: -158px;
  z-index: 1;
}

.game-infos-section__turret-img {
  position: absolute;
  height: 350px;
  bottom: -30px;
  left: 30px;
  z-index: 1;
}

.game-infos-section__background-img {
  width: 100%;
  height: 114%;
  position: absolute;
  z-index: -6;
}

.game-infos-section__phone__img {
  position: absolute;
  top: 128px;
  right: 26%;
  height: 486px;
  width: 235px;
  transform: translateX(12px);
}

.game-infos-section__phone__gameplay-img {
  position: absolute;
  right: 26%;
  top: 141px;
  border-radius: 20px;
  height: 447px;
  width: 211px;
}

.game-infos-section__play-anazir {
  position: absolute;
  top: 40%;
  left: 28%;
}

.game-infos-section__play-anazir img {
  height: 35px;
}

.game-infos-section h2 {
  font-size: 2.3em;
  margin-bottom: 7px;
}

.game-infos-section__lower {
  position: relative;
}

.game-infos-section__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8%;
  transform: translateY(-35px);
}

.wrapper2 {
  transform: translateY(38px);
}
.game-infos-section__translateY {
  transform: translateY(-141px);
}

.game-infos-section__card-box-img {
  height: 400px;
  top: -5px;
}

.game-infos-section__golem-evolution {
  display: flex;
  align-items: center;
}

.game-infos-section__golem-nft {
  height: 285px;
}

.game-infos-section__golem-normal {
  height: 145px;
}

.game-infos-section__evolution-arrow {
  height: 72px;
  transform: translateX(12px);
}

.game-infos-section__background-golem {
  height: 450px;
  position: absolute;
  z-index: -1;
  padding: 100px;
  background: radial-gradient(
    circle,
    rgb(93 92 92 / 53%),
    rgb(150 150 150 / 0%) 73%
  );
}

.game-infos-section__token-group {
  height: 250px;
  margin-top: 80px;
  margin-bottom: 50px;
  transform: translateY(-30px);
  width: 289px;
}

.collect-golem-section {
  height: 100vh;
  scroll-behavior: smooth;
  position: relative;
}

.collect-golem-section__background-img {
  width: 100%;
  height: 110%;
  position: absolute;
  z-index: -6;
  top: 26px;
}

.collect-golem-section__wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.collect-golem-section__card {
  width: 1079px;
  height: 490px;
  position: relative;
  background-color: #ece2cf;
  border: 6px solid #baa884;
}

.collect-golem-section__card__fairy {
  position: absolute;
  top: -107px;
  right: 15px;
  height: 210px;
}

.collect-golem-section__selector {
  position: absolute;
  left: -30px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  top: -10px;
}

.collect-golem-section__selector img {
  height: 70px;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  z-index: 3;
  width: 85%;
  transition: transform 0.2s ease-in-out;
}

.collect-golem-section__selector img:hover {
  transform: scale(1.07);
}

.collect-golem-section__selector img.active {
  background-color: #e7e3db;
}

.collect-golem-section__selector-background {
  position: absolute;
  height: 116%;
  width: 80px;
  z-index: 1;
  top: -39px;
  left: -36px;
}

.collect-golem-section__card__wrapper-center {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 3%;
}

.collect-golem-section__card__video {
  margin-left: 55px;
  height: 100%;
  width: 360px;
}

.collect-golem-section__card__wrapper-center video {
  width: 90%;
  height: 100%;
  object-fit: cover;
}

.mask-image {
  display: none;
}

.masked-video {
  width: 289px;
  height: 404px;
  mask-image: url("./assets/images/card-video-cache.png");
  mask-size: cover;
  mask-repeat: no-repeat;
}

.collect-golem-section__card__golem-infos {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  align-items: baseline;
  gap: 10px;
}

img[src="./assets/images/epic-icon.png"] {
  height: 95px;
}

.golem-infos__name {
  color: #2a2820;
  font-family: ferryman, sans-serif;
  font-size: 3em;
  font-weight: bold;
}

.collect-golem-section__card__golem-infos__type-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.golem-infos__rarity {
  height: 80px;
}

.golem-infos__type {
  height: 30px;
  margin-top: 3px;
}

.collect-golem-section__card__arrays {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 20px;
  transform: translateY(21px);
}

.turret-array,
.invocation-array {
  height: 300px;
  width: 255px;
  border: 2px solid #c1b69b;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2a2820;
}

.turret-arrays__text,
.invocation-arrays__text {
  font-style: italic;
  font-size: 0.9em;
  font-weight: bold;
  margin-top: 27px;
  text-align: center;
  width: 94%;
}

.turret-array {
  background-color: #e7e3db;
}

.invocation-array {
  background-color: #ece2cf;
}

.array-title {
  height: 37px;
  position: absolute;
  top: -17px;
  left: 58px;
}

.stats-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 90%;
  margin-top: 10px;
}

.stats-container {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #bdb6aa 0%, rgba(118, 114, 108, 0) 100%);
  padding: 2px 7px;
  border-radius: 5px;
  gap: 7px;
}

.stats-wrapper img {
  height: 38px;
}

.stat-title {
  color: #5e594b;
  font-weight: bold;
  font-size: 0.95em;
}

.stat {
  font-size: 1.4em;
  font-weight: bold;
}

.slider-section {
  position: relative;
  margin-top: 75px;
  height: 75vh;
  display: flex;
  justify-content: center;
}

.slider {
  display: flex;
  justify-content: center;
  position: relative;
  width: 1000px;
  height: 59%;
  position: relative;
  background-color: #ece2cf;
  border: 6px solid #baa884;
  background-image: url("./assets/images/slider-background.png");
  background-position: center;
}

.slider-alphabet-backgound {
  position: absolute;
  height: 350px;
  top: 9%;
}

.slider-arrow-border {
  position: absolute;
  width: 45px;
  height: 45px;
  border: 3px solid #2a2820;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #ece2cf;
  cursor: pointer;
  transition: background-color 0.2s;
}

.slider-arrow-border:hover {
  background-color: #c1b69b;
}

.slider-arrow-border img {
  cursor: pointer;
  height: 25px;
}

.slider-left-arrow {
  left: -28px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.slider-right-arrow {
  right: -28px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.slider-left-arrow img {
  transform: rotate(-45deg);
  margin-left: -5px;
  margin-top: 2px;
}

.slider-right-arrow img {
  transform: rotate(-45deg);
  margin-right: -5px;
  margin-bottom: 2px;
}

.slider__container {
  display: flex;
  align-items: center;
  gap: 25px;
  height: 100%;
  width: 90%;
  transform: translateX(15px);
}

.slide__title {
  color: #5e594b;
  font-weight: bold;
  font-size: 1.2em;
}

.slide__text {
  font-size: 2.1em;
  color: #2a2820;
  margin-top: 10px;
}

.slider__side-image {
  position: absolute;
}

.slide-no-translate-style {
  transform: none;
  width: 97%;
}

.slide__side-image__position-left {
  left: -18%;
  bottom: -36%;
  height: 250px;
}

.slide__side-image__position-right {
  right: -11%;
  bottom: -30%;
  height: 235px;
}

.cards-types-images {
  height: 398px;
  transform: translateY(5px);
}

.turret-funtion-image {
  height: 319px;
  transform: translateY(-8px);
}

.acorce-image {
  height: 341px;
  transform: translateY(-7px);
  margin-right: 20px;
}

.hero-cards-image {
  height: 400px;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 20px;
  z-index: 3;
  transform: translateY(45px);
}

.dot {
  padding: 5px;
  border-radius: 50%;
  background-color: #c1b69b;
  cursor: pointer;
}

.dot.active {
  background-color: #00fcff;
  transform: scale(1.7);
}

.roadmap-partner__background {
  background-image: url("./assets/images/crystall-illustration.png");
  background-size: cover;
  background-position: center;
}

.roadmap-section {
  height: 75vh;
}

.roadmap-section__wrapper {
  position: relative;
  z-index: 1;
}

.roadmap {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.roadmap__phases__wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.line-green,
.line-white {
  position: absolute;
  bottom: 17px;
  z-index: -1;
  height: 10px;
}

.line-green {
  background: linear-gradient(90deg, rgba(97, 255, 0, 0) 0%, #61ff00 100%);
  width: 900px;
  transform: translateX(-273px);
}

.line-white {
  background: linear-gradient(90deg, #e7e3db 55%, rgba(129, 126, 122, 0) 100%);
  width: 550px;
  transform: translateX(439px);
}

.roadmap__phase {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roadmap__phase__content {
  height: 275px;
  width: 275px;
  background-color: #21201a;
}

.roadmap__background-figure {
  z-index: -1;
  position: absolute;
  height: 225px;
  width: 225px;
  border: 3px solid #988b6b;
  transform: rotate(45deg);
  top: 104px;
  margin-left: 21px;
}

.roadmap__phase__indicators {
  display: flex;
  justify-content: center;
  gap: 266px;
}

.roadmap__phase__indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.roadmap__phase.completed .roadmap__phase__content {
  border: 4px solid #61ff00;
}

.roadmap__phase.current .roadmap__phase__content {
  border: 4px solid #ffc700;
}

.roadmap__phase.next .roadmap__phase__content {
  border: 4px solid #988b6b;
}

.roadmap__phase__indicator.completed .roadmap__phase__circle {
  background: #61ff00;
}

.roadmap__phase__indicator.current .roadmap__phase__circle {
  background: #ffc700;
}

.roadmap__phase__indicator.next .roadmap__phase__circle {
  border: 4px solid #cecece;
  background: #2a2820;
}

.roadmap__phase__indicator.completed .roadmap__phase__text-color {
  color: #61ff00;
}
.roadmap__phase__indicator.current .roadmap__phase__text-color {
  color: #ffc700;
}

.roadmap__phase__text-color {
  margin-top: 10px;
  position: absolute;
  bottom: -31px;
}

.roadmap__phase__content h3 {
  font-size: 1.8em;
  text-align: center;
  width: 100%;
  padding: 10px 0px;
  background-color: grey;
  background-color: #2a2820;
}

.roadmap__text-center {
  height: 78%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.roadmap__phase__content p {
  font-size: 1.3em;
  font-weight: 600;
  text-align: center;
  width: 90%;
}

.roadmap__phase__circle {
  margin-top: 30px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 4px solid rgb(0, 0, 0);
}

.partner-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
}

.partners {
  margin-top: 15px;
  width: 57%;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.partners a img {
  height: 40px;
}

.threevision-section {
  height: 70vh;
  position: relative;
  z-index: 2;
  background-color: #fffefb;
}

.threevision-section__background-texture {
  position: absolute;
  opacity: 0.2;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.threevision-section__logo {
  height: 100px;
}

.threevision-section__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.threevision-section p {
  text-align: center;
  width: 60%;
  color: black;
  font-size: 2.7em;
  font-weight: bold;
}

.threevision-section .button {
  padding: 10px 15px;
  font-size: 1.05em;
}

.threevision-section__background-logo {
  position: absolute;
}

.logo1 {
  top: 10%;
  left: 39%;
  transform: scaleX(-1) scaleY(1) rotate(121deg);
  height: 26px;
}

.logo2 {
  top: 30%;
  left: 10%;
  transform: rotate(112deg);
  height: 30px;
}

.logo3 {
  top: 43%;
  left: 17%;
}

.logo4 {
  top: 21%;
  left: 82%;
  height: 30px;
}

.logo5 {
  top: 80%;
  left: 14%;
  height: 30px;
}

.joins-us-section {
  background-image: url("./assets/images/joins-us-background.png");
  background-size: cover;
  height: 43vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.joins-us-section__text {
  font-size: 2.4em;
  font-weight: bold;
  width: 30%;
}

.joins-us-discord {
  fill: white;
}

.joins-us-section__link__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 105px;
  margin-top: 15px;
  cursor: pointer;
  gap: 8px;
}

.joins-us-section__link__wrapper p {
  font-size: 1.7em;
  font-weight: bold;
  color: white;
}

.discord-link {
  background-color: #586aea;
  border: 5px solid #404ca1;
  transition: background-color 0.2s;
}

.discord-link:hover {
  background-color: #7b8bff;
}

.telegram-link {
  background-color: #30a8de;
  border: 5px solid #1b6c90;
  transition: background-color 0.2s;
}

.telegram-link:hover {
  background-color: #7ad6ff;
}

/* --------------------------------------------------------------*/
@media (max-width: 1400px) {
  /* game infos section*/
  .game-infos-section__background-img {
    width: 119%;
    height: 115%;
    position: absolute;
    z-index: -6;
  }

  /* ----- collect golem section -----*/
  .collect-golem-section__wrapper {
    transform: translateX(25px);
  }

  .collect-golem-section__card {
    width: 936px;
  }

  .collect-golem-section__card__wrapper-center video {
    width: 96%;
  }

  .turret-array,
  .invocation-array {
    width: 232px;
  }

  .array-title {
    left: 44px;
  }

  /* ----- slider section -----*/
  .slider {
    width: 850px;
  }

  .slider-alphabet-backgound {
    height: 200px;
    top: 17%;
    width: 92%;
  }

  /* ----- roadmap section -----*/

  .roadmap__phase__indicators {
    gap: 232px;
    transform: translateX(6px);
  }

  .line-green {
    width: 669px;
    transform: translateX(-194px);
  }

  .line-white {
    width: 358px;
    transform: translateX(337px);
  }

  .roadmap__phase__content {
    height: 250px;
    width: 240px;
  }

  .roadmap__background-figure {
    height: 203px;
    width: 203px;
  }

  /* ----partner section -----*/

  .partners {
    width: 90%;
  }
}

@media (max-width: 1200px) {
  /* ----economy section -----*/
  .economy-section__center {
    width: 90%;
  }

  .economy-section__box {
    width: 50%;
  }

  .economy-section__text {
    width: 41%;
  }

  /* ----- banner section -----*/
  .banner-section p {
    font-size: 1.2em;
  }

  /* ----- game infos section -----*/
  .game-infos-section__phone__gameplay-img {
    right: 15%;
  }
  .game-infos-section__phone__img {
    right: 15%;
  }
  .game-infos-section__golem-img {
    right: 3%;
  }
  .game-infos-section__wrapper.game-infos-section__translateY {
    gap: 3%;
  }

  /* ----- roadmap section -----*/

  .roadmap__phase__indicators {
    gap: 206px;
    transform: none;
  }

  .roadmap__phases__wrapper {
    gap: 20px;
  }

  .line-green {
    width: 599px;
  }

  .line-white {
    transform: translateX(281px);
  }

  .roadmap__phase__content {
    height: 235px;
    width: 215px;
  }

  .roadmap__background-figure {
    height: 180px;
    width: 180px;
    top: 108px;
    margin-left: 14px;
  }

  .roadmap__phase__content p {
    font-size: 1em;
  }

  .roadmap__phase__circle {
    width: 30px;
    height: 30px;
  }

  .logo3 {
    top: 48%;
    left: 2%;
  }
}

/* --------------------------------------------------------------*/
/* --------Tablette --------*/

@media (max-width: 1024px) {
  /*-----header------*/

  .section-titles {
    transform: translateY(-25px);
    text-align: center;
  }

  .video-background {
    width: 100%;
    object-fit: cover;
    z-index: 1;
    height: 100vh;
  }

  .header-content {
    gap: 10px;
    bottom: 12%;
  }

  .header-content__logo__anazir-logo {
    height: 120px;
  }

  .header-content__logo__circle {
    top: -62%;
    right: -15%;
  }

  .header-content h1 {
    font-size: 2.3em;
    text-align: center;
    width: 90%;
  }

  .header-content__app-logos a img {
    height: 42px;
  }

  .social-media-logo {
    justify-content: center;
    width: 100%;
    padding: 0px;
    right: 0px;
    bottom: 4%;
  }

  /*------ banner section ----- */
  .banner-section {
    height: 75px;
  }

  .banner-section__wrapper {
    width: 92%;
  }

  .banner-section__alphabet-background {
    font-size: 5em;
  }

  .banner-section p {
    font-size: 0.9em;
  }

  .banner-section__wrapper img {
    height: 10px;
  }

  /*----- economy section -----*/
  .economy-section__center {
    flex-direction: column;
    gap: 13%;
  }

  .economy-section__text {
    width: 65%;
    align-items: center;
    text-align: center;
  }

  .economy-section__box {
    width: 64%;
  }

  .economy-section__background-img {
    width: 100%;
  }

  /* game infos section */

  .game-infos-section__background-img {
    object-fit: cover;
    height: 95%;
  }

  .game-infos-section__wrapper.game-infos-section__translateY {
    gap: 4%;
  }

  .game-infos-section__card-box-img {
    height: 334px;
  }

  .game-infos-section h2 {
    font-size: 1.9em;
  }

  .game-infos-section__token-group {
    height: 201px;
    width: 230px;
  }

  .game-infos-section {
    margin-top: 250px;
  }

  .game-infos-section__golem-normal {
    height: 91px;
  }

  .game-infos-section__evolution-arrow {
    height: 50px;
    transform: translateX(12px);
  }

  .game-infos-section__golem-nft {
    height: 159px;
  }

  .game-infos-section__golem-img {
    bottom: -275px;
  }

  .game-infos-section__phone__gameplay-img {
    top: 58px;
  }

  .game-infos-section__phone__img {
    top: 45px;
  }

  .game-infos-section__play-anazir {
    top: 30%;
    left: 24%;
  }

  .game-infos-section__turret-img {
    display: none;
  }

  /* collect golem section */
  .collect-golem-section__card {
    width: 90%;
    height: 800px;
  }

  .collect-golem-section__selector__wrapper {
    position: relative;
    position: absolute;
    bottom: -39px;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
  }

  .collect-golem-section__selector-background {
    position: absolute;
    height: unset;
    width: 92px;
    z-index: 1;
    top: -242px;
    left: unset;
    transform: rotateZ(90deg);
  }

  .collect-golem-section__selector img {
    height: 66px;
  }

  .collect-golem-section__selector {
    position: absolute;
    flex-direction: row;
    left: unset;
    gap: 15px;
    top: -8px;
  }

  .collect-golem-section__card__fairy {
    top: -105px;
    right: -32px;
    height: 189px;
  }

  .collect-golem-section__wrapper {
    transform: translateX(0px);
  }

  .collect-golem-section__card__arrays {
    flex-direction: column;
  }

  .turret-array,
  .invocation-array {
    width: 90%;
    height: 268px;
  }

  .array-title {
    left: 140px;
  }

  .collect-golem-section__card__wrapper-center {
    gap: 7%;
  }

  .masked-video {
    mask-image: url(/assets/images/card-video-cache-tablette.png);
  }

  .collect-golem-section__card__wrapper-center video {
    width: 119%;
    height: 92%;
  }

  .collect-golem-section__card__video {
    margin-left: 37px;
    display: flex;
    align-items: center;
  }

  /* slider section */
  .slider-alphabet-backgound {
    display: none;
  }

  .slider-section__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .slider {
    width: 92%;
  }

  .slide__side-image__position-left {
    left: -9%;
    bottom: -38%;
    height: 185px;
  }

  .slide__side-image__position-right {
    right: -3%;
    bottom: -36%;
    height: 180px;
  }

  /* roadmap section */
  .roadmap-section {
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .roadmap__background-figure {
    display: none;
  }

  .roadmap-section__wrapper {
    flex-direction: column;
    width: 85%;
    gap: 0px;
    transform: translateX(-41px);
  }

  .roadmap__position {
    display: flex;
  }

  .roadmap {
    width: 100%;
  }

  .roadmap__phases__wrapper {
    flex-direction: column;
    width: 85%;
  }

  .roadmap__phase__content {
    width: 100%;
  }

  .roadmap__phase__indicators {
    flex-direction: column;
    transform: translateX(-7px);
    gap: 186px;
  }

  .roadmap__phase__circle {
    width: 35px;
    height: 35px;
  }

  .line-white {
    width: 374px;
    transform: rotateZ(90deg);
    bottom: 174px;
    right: -165px;
  }

  .line-green {
    width: 674px;
    transform: rotateZ(90deg);
    top: 329px;
    right: -314px;
  }

  .roadmap__phase__text-color {
    margin-top: 32px;
    position: absolute;
    right: -30%;
    bottom: auto;
    width: 10%;
    font-size: 0.8em;
  }

  /* partner section */
  .partner-section {
    margin-top: 90px;
    margin-bottom: 60px;
  }

  /* joins us section */
  .threevision-section p {
    font-size: 2.1em;
    width: 90%;
  }

  /* threevisition section */
  .joins-us-section {
    gap: 38px;
  }

  .joins-us-section__link__wrapper {
    padding: 35px 45px;
  }

  .joins-us-section__text {
    font-size: 2em;
    width: 50%;
  }
}

/* --------------------------------------------------------------*/

@media (max-width: 756px) {
  /* banner section */
  .banner-section p {
    font-size: 0.7em;
  }

  .banner-section__wrapper {
    width: 95%;
  }

  .banner-section__wrapper img {
    height: 10px;
  }

  /* economy section */
  .economy-section__text {
    width: 90%;
  }

  .economy-section__box {
    width: 85%;
    height: 500px;
  }

  .economy-section__box__token-group {
    right: -3%;
  }

  .economy-section__box__ready {
    width: 32%;
  }

  /* game infos section */
  .game-infos-section__phone__gameplay-img {
    top: 38px;
    right: 8%;
  }

  .game-infos-section__phone__img {
    top: 25px;
    right: 8%;
  }

  .game-infos-section__play-anazir {
    top: 27%;
    left: 7%;
  }

  /* collect golem section */
  .collect-golem-section__card__video {
    margin-left: 3px;
  }

  /* slider section */
  .slider__container {
    gap: 15px;
  }

  .slider-left-arrow {
    left: -6px;
  }

  .slider-right-arrow {
    right: -6px;
    z-index: 2;
  }

  .slide__text {
    font-size: 1.7em;
  }

  .cards-types-images {
    height: 352px;
    transform: translateY(5px);
  }

  .turret-funtion-image {
    height: 214px;
    transform: translateY(-8px);
  }

  .acorce-image {
    height: 256px;
  }

  .hero-cards-image {
    height: 334px;
  }

  .responsive-acorce-position {
    right: -7%;
    bottom: -26%;
  }

  /* partner section */
  .partners a img {
    height: 29px;
  }
}

@media (max-width: 706px) {
  .collect-golem-section__card__wrapper-center video {
    width: 110%;
    height: 78%;
  }

  .collect-golem-section__card__wrapper-center {
    gap: 0px;
  }

  .array-title {
    left: unset;
  }

  .collect-golem-section__card {
    height: 705px;
  }
}
