* {
  font-family: arpona, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f0f0c;
  color: #e7e3db;
  background-image: url(/assets/images/background-texture.png);
}

main {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
  display: flex;
  justify-content: center;
}

.terms-of-use {
  width: 80%;
}

.terms-of-use h1 {
  font-size: 2.2em;
  text-align: center;
  font-weight: 400;
}

.terms-of-use__text {
  margin-top: 30px;
  font-size: 1.2em;
  font-weight: 100;
}

strong {
  font-size: 1.1em;
  font-weight: 400;
}

@media (max-width: 576px) {
  .terms-of-use {
    width: 95%;
  }
}
